[Unit]
Description=Palworld Statistics Collector
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/lsemi/palworld-server
EnvironmentFile=%h/.config/palworld/palworld.env
ExecStart=/home/lsemi/.nvm/versions/node/v22.16.0/bin/node apps/collector/src/collector.js
Restart=always
RestartSec=10
NoNewPrivileges=true

[Install]
WantedBy=default.target
